
body{
  background-color: #f9f9f9;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0px auto;
}



.wrapper-main{
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.info-field-container{
  width: 100vw;
  height: 20%;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: row;
}

.net-income-box{
  width: 20%;
  height: 100%;
  background-color: #21232d;
}

.dash-controll-btn{
  border: none;
  background-color: inherit;
  color:#f9f9f9;
  cursor: pointer;
}

.net-savings{
  text-align: center;
  font-family:ubuntu;
  color:#f9f9f9;
  padding-top: 25px;
}

.fields-box{
  width: 70%;
  height: 100%;
  background-color: #e8f0ff;
}

.field-item-box{
  position: relative;
  left:100px;
}

.select-option-text{
  font-family: ubuntu;
  font-weight: 500;
}

.income-field-box{
  width: 200px;
  height: 45px;
  border: none;
  border-radius: 3px;
  background-color: #f9f9f9;
  padding: 2px;
  padding-left: 6px;
  font-family: ubuntu;
  box-shadow: 1px 1px 3px 3px #c9d3e5;
  margin: 5px;
}

.post-btn{
  width: 120px;
  height:50px;
  padding: 3px;
  color:#fff;
  background-color: #176aef;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
  box-shadow: 1px 1px 3px 3px #c9d3e5;
}

.select-option{
  width: 130px;
  height: 45px;
  padding: 3px;
  background-color:#fff;
  border: none;
  border-radius: 3px;
  margin: 5px;
  box-shadow: 1px 1px 3px 3px #c9d3e5;
}

.below-container{
  width: 100vw;
  height: 80%;
  background-color: #236;
  display: flex;
  flex-direction: row;
}


.daily-income-items{
  width: 20vw;
  height: 100%;
  background-color: #f9f9f9;
  overflow-y:scroll;
  overflow-x: hidden;
}

.graph-container{
  width: 80vw;
  height: 100%;
  background-color: #fff;
}

.daily-income-item{
  font-weight: normal;
  font-family: ubuntu;
  padding: 3px;
  background-color: #344054;
  display:flex;
  flex-direction: row;
}

.daily-income-item:nth-child(odd){
  background-color: #242d3a;
}

.item-type-box{
  display: None;
}

.item-square-box{
  width: auto;
  height: 100%;
  padding: 3px;
  background-color: inherit;
  margin: 3px;
}


.big-bold-text{
  font-family: ubuntu;
  font-weight: bold;
  color: #fff;
  font-size: 18px;
}


.big-med-text{
  font-family: ubuntu;
  font-weight: 400;
  color: #fff;
  font-size: 12px;
}


input[type="checkbox"]:checked {
  box-shadow: 0 0 3px 2px  #5fefc2;
}

.item-controller-box{
  background-color: #21232d;
  padding: 15px;
  display: flex;
  flex-direction: row;
}
